{% extends 'blog/base.html' %}
{% block content %}
<div class = "content-section">
    <form method = "POST">
        {% csrf_token %}
        <feildset class = "form-group">
            <legend class = "border-bottom mb-4">Omit Post</legend>
            <h2>Are you Sure you want to delete the post '{{ object.title }}'</h2>
        </feildset>
        <div class = "form-group">
            <button class = 'btn-outline-danger', type = "submit">Yes Delete</button>
            <a class = 'btn-outline-secondary' href = "{% url 'post-detail' object.id %}">Cancel</button></a>
        
        </div>
    </form>
</div>


{% endblock %}
